In [1]:
import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset_unix.pkl", "rb"))

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame(enron_data)

In [4]:
df = df.T

In [27]:
df.drop('TOTAL',inplace=True)

In [28]:
df

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
METTS MARK,600000.0,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299.0,29.0,38.0,1.0,...,NaN,1740.0,False,585062.0,NaN,365788.0,702.0,807.0,1061827.0,585062.0
BAXTER JOHN C,1200000.0,1295738.0,-1386055.0,NaN,NaN,6680544.0,11200.0,NaN,NaN,NaN,...,1586055.0,2660303.0,False,3942714.0,NaN,267102.0,NaN,NaN,5634343.0,10623258.0
ELLIOTT STEVEN,350000.0,NaN,-400729.0,NaN,steven.elliott@enron.com,4890344.0,78552.0,NaN,NaN,NaN,...,NaN,12961.0,False,1788391.0,NaN,170941.0,NaN,NaN,211725.0,6678735.0
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850.0,NaN,12.0,10.0,0.0,...,NaN,NaN,False,386335.0,NaN,NaN,58.0,764.0,NaN,1038185.0
HANNON KEVIN P,1500000.0,NaN,-3117011.0,NaN,kevin.hannon@enron.com,5538001.0,34039.0,32.0,32.0,21.0,...,1617011.0,11350.0,True,853064.0,NaN,243293.0,1035.0,1045.0,288682.0,6391065.0
MORDAUNT KRISTINA M,325000.0,NaN,NaN,NaN,kristina.mordaunt@enron.com,NaN,35018.0,NaN,NaN,NaN,...,NaN,1411.0,False,208510.0,NaN,267093.0,NaN,NaN,628522.0,208510.0
MEYER ROCKFORD G,NaN,1848227.0,NaN,NaN,rockford.meyer@enron.com,493489.0,NaN,28.0,0.0,0.0,...,NaN,NaN,False,462384.0,NaN,NaN,22.0,232.0,1848227.0,955873.0
MCMAHON JEFFREY,2600000.0,NaN,NaN,NaN,jeffrey.mcmahon@enron.com,1104054.0,137108.0,48.0,58.0,26.0,...,694862.0,297353.0,False,558801.0,NaN,370448.0,2228.0,2355.0,4099771.0,1662855.0
HAEDICKE MARK E,1150000.0,2157527.0,-934484.0,NaN,mark.haedicke@enron.com,608750.0,76169.0,1941.0,180.0,61.0,...,983346.0,52382.0,False,524169.0,-329825.0,374125.0,1847.0,4009.0,3859065.0,803094.0
PIPER GREGORY F,400000.0,1130036.0,-33333.0,NaN,greg.piper@enron.com,880290.0,43057.0,222.0,61.0,48.0,...,NaN,778.0,False,409554.0,-409554.0,197091.0,742.0,1238.0,1737629.0,880290.0
HUMPHREY GENE E,NaN,2964506.0,NaN,NaN,gene.humphrey@enron.com,2282768.0,4994.0,17.0,10.0,17.0,...,NaN,NaN,False,NaN,NaN,130724.0,119.0,128.0,3100224.0,2282768.0
NOLES JAMES L,NaN,774401.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,463261.0,-94556.0,NaN,NaN,NaN,774401.0,368705.0
BLACHMAN JEREMY M,850000.0,NaN,NaN,NaN,jeremy.blachman@enron.com,765313.0,84208.0,14.0,25.0,2.0,...,831809.0,272.0,False,189041.0,NaN,248546.0,2326.0,2475.0,2014835.0,954354.0
SUNDE MARTIN,700000.0,NaN,NaN,NaN,marty.sunde@enron.com,NaN,NaN,38.0,37.0,13.0,...,476451.0,111122.0,False,698920.0,NaN,257486.0,2565.0,2647.0,1545059.0,698920.0
GIBBS DANA R,NaN,504610.0,NaN,NaN,dana.gibbs@enron.com,2218275.0,NaN,12.0,0.0,0.0,...,461912.0,NaN,False,NaN,NaN,NaN,23.0,169.0,966522.0,2218275.0
LOWRY CHARLES P,NaN,NaN,NaN,NaN,NaN,372205.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,153686.0,-153686.0,NaN,NaN,NaN,NaN,372205.0
COLWELL WESLEY,1200000.0,27610.0,-144062.0,NaN,wes.colwell@enron.com,NaN,16514.0,40.0,240.0,11.0,...,NaN,101740.0,True,698242.0,NaN,288542.0,1132.0,1758.0,1490344.0,698242.0
MULLER MARK S,1100000.0,842924.0,-719000.0,NaN,s..muller@enron.com,1056320.0,NaN,16.0,12.0,0.0,...,1725545.0,947.0,False,360528.0,NaN,251654.0,114.0,136.0,3202070.0,1416848.0
JACKSON CHARLENE R,250000.0,NaN,NaN,NaN,charlene.jackson@enron.com,185063.0,10181.0,56.0,25.0,19.0,...,NaN,2435.0,False,540672.0,NaN,288558.0,117.0,258.0,551174.0,725735.0
WESTFAHL RICHARD K,NaN,NaN,-10800.0,NaN,dick.westfahl@enron.com,NaN,51870.0,NaN,NaN,NaN,...,256191.0,401130.0,False,384930.0,NaN,63744.0,NaN,NaN,762135.0,384930.0
WALTERS GARETH W,NaN,53625.0,NaN,NaN,NaN,1030329.0,33785.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,87410.0,1030329.0
WALLS JR ROBERT H,850000.0,NaN,NaN,NaN,rob.walls@enron.com,4346544.0,50936.0,146.0,17.0,0.0,...,540751.0,2.0,False,1552453.0,NaN,357091.0,215.0,671.0,1798780.0,5898997.0
KITCHEN LOUISE,3100000.0,NaN,NaN,NaN,louise.kitchen@enron.com,81042.0,5774.0,1728.0,251.0,194.0,...,NaN,93925.0,False,466101.0,NaN,271442.0,3669.0,8305.0,3471141.0,547143.0
CHAN RONNIE,NaN,NaN,-98784.0,98784.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,32460.0,-32460.0,NaN,NaN,NaN,NaN,NaN
BELFER ROBERT,NaN,-102500.0,NaN,3285.0,NaN,3285.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,44093.0,NaN,NaN,NaN,102500.0,-44093.0
SHANKMAN JEFFREY A,2000000.0,NaN,NaN,NaN,jeffrey.shankman@enron.com,1441898.0,178979.0,2681.0,94.0,83.0,...,554422.0,1191.0,False,630137.0,NaN,304110.0,1730.0,3221.0,3038702.0,2072035.0
WODRASKA JOHN,NaN,NaN,NaN,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,NaN,...,NaN,189583.0,False,NaN,NaN,NaN,NaN,NaN,189583.0,NaN
BERGSIEKER RICHARD P,250000.0,NaN,-485813.0,NaN,rick.bergsieker@enron.com,NaN,59175.0,59.0,4.0,0.0,...,180250.0,427316.0,False,659249.0,NaN,187922.0,233.0,383.0,618850.0,659249.0
URQUHART JOHN A,NaN,NaN,-36666.0,36666.0,NaN,NaN,228656.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,228656.0,NaN
BIBI PHILIPPE A,1000000.0,NaN,NaN,NaN,philippe.bibi@enron.com,1465734.0,38559.0,40.0,23.0,8.0,...,369721.0,425688.0,False,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PICKERING MARK R,300000.0,NaN,NaN,NaN,mark.pickering@enron.com,28798.0,31653.0,67.0,7.0,0.0,...,NaN,NaN,False,NaN,NaN,655037.0,728.0,898.0,1386690.0,28798.0
BHATNAGAR SANJAY,NaN,NaN,NaN,137864.0,sanjay.bhatnagar@enron.com,2604490.0,NaN,29.0,0.0,1.0,...,NaN,137864.0,False,-2604490.0,15456290.0,NaN,463.0,523.0,15456290.0,NaN
CARTER REBECCA C,300000.0,NaN,-159792.0,NaN,rebecca.carter@enron.com,NaN,NaN,15.0,29.0,7.0,...,75000.0,540.0,False,307301.0,-307301.0,261809.0,196.0,312.0,477557.0,NaN
BUCHANAN HAROLD G,500000.0,NaN,NaN,NaN,john.buchanan@enron.com,825464.0,600.0,125.0,0.0,0.0,...,304805.0,1215.0,False,189041.0,NaN,248017.0,23.0,1088.0,1054637.0,1014505.0
YEAP SOON,NaN,NaN,NaN,NaN,NaN,192758.0,55097.0,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,55097.0,192758.0
MURRAY JULIA H,400000.0,NaN,NaN,NaN,julia.murray@enron.com,400478.0,57580.0,45.0,11.0,2.0,...,125000.0,330.0,False,196983.0,NaN,229284.0,395.0,2192.0,812194.0,597461.0
GARLAND C KEVIN,850000.0,NaN,NaN,NaN,kevin.garland@enron.com,636246.0,48405.0,44.0,10.0,27.0,...,375304.0,60814.0,False,259907.0,NaN,231946.0,178.0,209.0,1566469.0,896153.0
DODSON KEITH,70000.0,NaN,NaN,NaN,keith.dodson@enron.com,NaN,28164.0,14.0,10.0,3.0,...,NaN,774.0,False,NaN,NaN,221003.0,114.0,176.0,319941.0,NaN
YEAGER F SCOTT,NaN,NaN,NaN,NaN,scott.yeager@enron.com,8308552.0,53947.0,NaN,NaN,NaN,...,NaN,147950.0,True,3576206.0,NaN,158403.0,NaN,NaN,360300.0,11884758.0
HIRKO JOSEPH,NaN,10259.0,NaN,NaN,joe.hirko@enron.com,30766064.0,77978.0,NaN,NaN,NaN,...,NaN,2856.0,True,NaN,NaN,NaN,NaN,NaN,91093.0,30766064.0
DIETRICH JANET R,600000.0,NaN,NaN,NaN,janet.dietrich@enron.com,1550019.0,3475.0,63.0,305.0,14.0,...,556416.0,473.0,False,315068.0,NaN,250100.0,1902.0,2572.0,1410464.0,1865087.0
DERRICK JR. JAMES V,800000.0,NaN,-1284000.0,NaN,james.derrick@enron.com,8831913.0,51124.0,909.0,64.0,20.0,...,484000.0,7482.0,False,1787380.0,-1787380.0,492375.0,1401.0,2181.0,550981.0,8831913.0
FREVERT MARK A,2000000.0,6426990.0,-3367011.0,NaN,mark.frevert@enron.com,10433518.0,86987.0,21.0,242.0,6.0,...,1617011.0,7427621.0,False,4188667.0,NaN,1060932.0,2979.0,3275.0,17252530.0,14622185.0
PAI LOU L,1000000.0,NaN,NaN,NaN,lou.pai@enron.com,15364167.0,32047.0,NaN,NaN,NaN,...,NaN,1829457.0,False,8453763.0,NaN,261879.0,NaN,NaN,3123383.0,23817930.0
HAYSLETT RODERICK J,NaN,NaN,NaN,NaN,rod.hayslett@enron.com,NaN,NaN,1061.0,35.0,38.0,...,NaN,NaN,False,346663.0,NaN,NaN,571.0,2649.0,NaN,346663.0
BAY FRANKLIN R,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,NaN,...,NaN,69.0,False,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0
MCCARTY DANNY J,NaN,NaN,NaN,NaN,danny.mccarty@enron.com,664375.0,NaN,215.0,25.0,2.0,...,NaN,NaN,False,94556.0,NaN,NaN,508.0,1433.0,NaN,758931.0
FUGH JOHN L,NaN,50591.0,NaN,NaN,NaN,176378.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,50591.0,176378.0
SCRIMSHAW MATTHEW,NaN,NaN,NaN,NaN,matthew.scrimshaw@enron.com,759557.0,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,759557.0
KOENIG MARK E,700000.0,NaN,NaN,NaN,mark.koenig@enron.com,671737.0,127017.0,61.0,53.0,15.0,...,300000.0,150458.0,True,1248318.0,NaN,309946.0,2271.0,2374.0,1587421.0,1920055.0
SAVAGE FRANK,NaN,NaN,-121284.0,125034.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,3750.0,NaN
IZZO LAWRENCE L,NaN,NaN,NaN,NaN,larry.izzo@enron.com,2165172.0,28093.0,19.0,28.0,5.0,...,312500.0,1553729.0,False,3654808.0,NaN,85274.0,437.0,496.0,1979596.0,5819980.0
TILNEY ELIZABETH A,300000.0,NaN,-575000.0,NaN,elizabeth.tilney@enron.com,591250.0,NaN,19.0,10.0,11.0,...,275000.0,152055.0,False,576792.0,NaN,247338.0,379.0,460.0,399393.0,1168042.0
MARTIN AMANDA K,NaN,85430.0,NaN,NaN,a..martin@enron.com,2070306.0,8211.0,230.0,8.0,0.0,...,5145434.0,2818454.0,False,NaN,NaN,349487.0,477.0,1522.0,8407016.0,2070306.0
BUY RICHARD B,900000.0,649584.0,-694862.0,NaN,rick.buy@enron.com,2542813.0,NaN,1053.0,156.0,71.0,...,769862.0,400572.0,False,901657.0,NaN,330546.0,2333.0,3523.0,2355702.0,3444470.0
GRAMM WENDY L,NaN,NaN,NaN,119292.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,119292.0,NaN
CAUSEY RICHARD A,1000000.0,NaN,-235000.0,NaN,richard.causey@enron.com,NaN,30674.0,49.0,58.0,12.0,...,350000.0,307895.0,True,2502063.0,NaN,415189.0,1585.0,1892.0,1868758.0,2502063.0
TAYLOR MITCHELL S,600000.0,227449.0,NaN,NaN,mitchell.taylor@enron.com,3181250.0,NaN,29.0,0.0,0.0,...,NaN,NaN,False,563798.0,NaN,265214.0,300.0,533.0,1092663.0,3745048.0
DONAHUE JR JEFFREY M,800000.0,NaN,-300000.0,NaN,jeff.donahue@enron.com,765920.0,96268.0,22.0,188.0,11.0,...,NaN,891.0,False,315068.0,NaN,278601.0,772.0,865.0,875760.0,1080988.0
GLISAN JR BEN F,600000.0,NaN,NaN,NaN,ben.glisan@enron.com,384728.0,125978.0,16.0,52.0,6.0,...,71023.0,200308.0,True,393818.0,NaN,274975.0,874.0,873.0,1272284.0,778546.0

In [6]:
df[df['poi']==True].count()

bonus                        18
deferral_payments            18
deferred_income              18
director_fees                18
email_address                18
exercised_stock_options      18
expenses                     18
from_messages                18
from_poi_to_this_person      18
from_this_person_to_poi      18
loan_advances                18
long_term_incentive          18
other                        18
poi                          18
restricted_stock             18
restricted_stock_deferred    18
salary                       18
shared_receipt_with_poi      18
to_messages                  18
total_payments               18
total_stock_value            18
dtype: int64

In [7]:
poi = pd.read_csv("../final_project/poi_names.txt", header=0, names=['nome','sobrenome'])

In [8]:
poi[poi.nome.str.contains("(y)", regex=False)]

            nome sobrenome
0        (y) Lay   Kenneth
1   (y) Skilling   Jeffrey
19    (y) Forney      John
24  (y) Delainey     David

In [9]:
poi.count()

nome         35
sobrenome    35
dtype: int64

In [10]:
df.loc['PRENTICE JAMES']['total_stock_value']

1095040

In [11]:
df.loc['COLWELL WESLEY']['from_this_person_to_poi']

11

In [12]:
df.loc['SKILLING JEFFREY K']['exercised_stock_options']

19250000

In [13]:
df.loc[['LAY KENNETH L','SKILLING JEFFREY K','FASTOW ANDREW S']]['total_payments']

LAY KENNETH L         103559793
SKILLING JEFFREY K      8682716
FASTOW ANDREW S         2424083
Name: total_payments, dtype: object

In [14]:
df.replace('NaN',np.NaN,inplace=True)

In [15]:
df['salary'].count()

95

In [16]:
df['email_address'].count()

111

In [17]:
df.isna().sum()

bonus                         64
deferral_payments            107
deferred_income               97
director_fees                129
email_address                 35
exercised_stock_options       44
expenses                      51
from_messages                 60
from_poi_to_this_person       60
from_this_person_to_poi       60
loan_advances                142
long_term_incentive           80
other                         53
poi                            0
restricted_stock              36
restricted_stock_deferred    128
salary                        51
shared_receipt_with_poi       60
to_messages                   60
total_payments                21
total_stock_value             20
dtype: int64

In [18]:
21/146

0.14383561643835616

In [19]:
df[df['poi']==True]['total_payments'].isna()

HANNON KEVIN P          False
COLWELL WESLEY          False
RIEKER PAULA H          False
KOPPER MICHAEL J        False
SHELBY REX              False
DELAINEY DAVID W        False
LAY KENNETH L           False
BOWEN JR RAYMOND M      False
BELDEN TIMOTHY N        False
FASTOW ANDREW S         False
CALGER CHRISTOPHER F    False
RICE KENNETH D          False
SKILLING JEFFREY K      False
YEAGER F SCOTT          False
HIRKO JOSEPH            False
KOENIG MARK E           False
CAUSEY RICHARD A        False
GLISAN JR BEN F         False
Name: total_payments, dtype: bool

In [29]:
df['exercised_stock_options'].max()

34348384.0

In [22]:
df['exercised_stock_options'].min()

3285.0

In [33]:
df['salary'].max()

1111258.0

In [34]:
df['salary'].min()

477.0

In [123]:
def featureScaling(arr):
    minx = min(arr)
    rangevalue = max(arr) - min(arr)
    if rangevalue == 0:
        return [1 for x in arr]
    return [float(x - minx)/ rangevalue for x in arr]

In [119]:
valor200 = float(200000 - df['salary'].min()) / (df['salary'].max() - df['salary'].min())
valor200

0.17962406631010072

In [121]:
valor1m = float(1000000 - df['exercised_stock_options'].min()) / (df['exercised_stock_options'].max() - df['exercised_stock_options'].min())
valor1m

0.029020588934683227

In [124]:
lista = [115,140,175]
featureScaling(lista)

[0.0, 0.4166666666666667, 1.0]